**/*.swp
cover.out
#logdemo
*~
!*/
build/
**/*.test
**/*.sublime-workspace
/.idea/
ldflags
y.output
*-stdio
*.log
**/test.out*

pkg/x509ca/*.crt
pkg/x509ca/*.key

tests/integration/fulcrum1/*.crt
tests/integration/fulcrum1/*.key
tests/integration/organza/steward-*/
tests/integration/organza/whitelist-*/
tests/integration/ripstop/multifail/*/*
tests/integration/ripstop/multifail/*
tests/integration/ripstop/multipass/*
tests/integration/ripstop2/multifail/*
tests/integration/ripstop2/multifail/*/*
tests/integration/ripstop2/multipass/*
